* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 75vw;
    margin: 0 auto;
}

.box {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#foto {
    background-color: #ccc;
    width: 150px;
    height: 150px;
}

.job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    width: 30%;
    height: 150px;
    background-image: url("images/fundo.jpg");
}

h4 {
    color: #ccc;
}

img {
    height: 120px;
    transition: .4s;
}

img:hover {
    height: 125px;
}

header,
footer {
    /* padding: 20px 0; */
    width: 100%;
    clear: both;
}

header h2 {
    border-bottom: 5px solid #000c32;
    border-top: 5px solid #000c32;
    padding: .5em;
    text-align: center;
}

aside {
    float: left;
    width: 20%;
}

main {
    float: left;
    width: 75%;
}

h3 {
    margin-top: 1em;
    padding: 0.5em 0 0.5em 0;
    border-top-style: dotted;
    border-color: #000c32;
    text-align: right;
}

aside ul {
    list-style-type: none;
    text-align: right;
    margin-top: 0;
}

li {
    padding: 0.5em 0;
}

aside p {
    text-align: right;
    margin-top: .5em;
}

section {
    width: 100%;
    margin: 0 0 0 3em;
    padding: 0;
}

main h3 {
    width: 100%;
    text-align: left;
    margin-top: .5em;
    padding-left: 0;
    margin-right: 0;
}

section p {
    margin: .5em;
}

section ul {
    margin-left: 2em;
}

.destaque-vermelho {
    color: #ff0000;
    font-weight: bold;
}

.portifolio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 2.5em;
}

footer {
    display: flex;
    width: 100%;
    height: 10vh;
    border-top: 1px solid #ccc;
    justify-content: center;
    align-items: center;
}

#destaque {
    font-weight: bold;
    color: #ff0000;
}